<!DOCTYPE HTML>

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>天鹅之城-三门峡-三门峡</title>

<meta content="天鹅之城-三门峡-三门峡" name="keywords" />

<meta content="天鹅之城-三门峡-三门峡" name="description" />

<link href="../css/base.css" rel="stylesheet" type="text/css">

<link href="../css/pagename.css" rel="stylesheet" type="text/css">

</head>

<body>

<!--header-->

<div class="header"> 

	<div class="w1000">

    	<p>你好，欢迎光临天鹅之城三门峡！</p>

        <div class="contact"><a href="../index.html">设为首页</a> <a href="../index.html">加入收藏</a></div>

	</div>

</div>

<div class="w1000">

	<div class="header_bottom">

			<a href="../index.html"><img src="../image/logo.jpg" width="294" height="49" alt="" title="天鹅之城-三门峡-三门峡"></a>

       		<ul>

            	<li><a href="../index.html">网站首页</a></li>       

                <li><a href="historic.html">历史</a></li>     

                <li><a href="beautiful.html">风景</a></li>        

                <li><a href="tourism.html">旅游</a></li>      

                <li><a href="delicacy.html">美食</a></li>      

                <li><a href="new.html">动态</a></li>      

                <li><a href="leave.html">留言</a></li><li><a href="connection.html">联系我们</a></li>

     		</ul>  

    </div>       

</div>
<!--header结束--> 
<div class="container"> 		

		<!--banner开始-->

		<div class="banner_erji">

        	<img src="../image/banner_4.jpg" width="1000" height="187" alt="" title="">

        </div>

		<!--banner结束--> 

		<!--content开始-->

		<div class="content clearfix">

        	<div class="leftbar">

            	<div class="leftnav">

                	<h1>话说</h1>

                	<ul class="ul_left">

        <li><h3><a href="introduce.html">简介</a></h3></li>
        <li><h3><a href="Culture.html">文化</a></h3></li>
        <li><h3><a href="historic.html">历史</a></h3></li>

         	</ul>
			
                </div>

                <div class="left_lx">

                	<h1>联系方式</h1>

                    <p>地址：XXXX</p>

                      <p>联系人：XXXX</p>

                      <p>电话：0771-xxxxxxx</p>

                      <p>QQ：xxxxxxx</p>

                      <p>网址：www.xxxx.com</p>

                      <p>邮编：27000</p>

                </div>

            </div>

        	<div class="rightbar">

            	<div class="bread"><a href="../index.html">首页</a> > 历史</div>
         		<div class="con_news">

                	<p class="p_tit2">

                    	<span>历史</span>
                  </p>

                	<div class="con">
	<p>
		&nbsp;&nbsp;&nbsp;&nbsp;三门峡市是1957年伴随着万里黄河第一坝--三门峡大坝的兴建而崛起的一座新兴城市，也是沿黄城市中距黄河最近的一座城市。相传大禹治水时，凿龙门，开砥柱，在黄河中游这一段形成了“人门”、“鬼门”、“神门”三道峡谷，三门峡即由此得名。<br />
&nbsp;&nbsp;&nbsp;&nbsp;距今六千年前，就出现了较大的氏族部落。<br />
&nbsp;&nbsp;&nbsp;&nbsp;约在公元前21世纪～13世纪，这里是夏商王朝统治的中心区域。<br />
&nbsp;&nbsp;&nbsp;&nbsp;西周时属焦国、虢国，春秋先属虢后属晋。 <br />
&nbsp;&nbsp;&nbsp;&nbsp;战国时分属韩、秦、魏；秦属三川郡，汉属弘农郡。<br/>

&nbsp;&nbsp;&nbsp;&nbsp;三国属魏国恒农郡，晋属司州弘农郡。<br/>

&nbsp;&nbsp;&nbsp;&nbsp;北魏置陕州后一直延续至明清。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;民国时期先属豫西道、河洛道，后改为河南省第十一行政督察区。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;中华人民共和国成立前后，曾设陕州专员公署。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;1957年3月国务院批准设立三门峡市，归河南省直接管辖。按照当时规划，这里将发展为洛阳和西安两大古都间又一中型工业城市。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;20世纪60年代初期，由于中苏关系的变化和国家经济的暂时困难，三门峡市的建设规划被迫作了调整，1961年三门峡市由地级市降为县级市。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;1986年，经国务院批准，三门峡市重新升为地级市。辖湖滨区、义马市、渑池县、陕县、灵宝市、卢氏县、经济技术开发区和产业集聚区。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;2015年3月6日，根据《国务院关于同意河南省调整三门峡市部分行政区划的批复》，对三门峡市部分行政区划进行调整，撤销陕县，设立三门峡市陕州区，以原陕县的行政区域为陕州区的行政区域,陕州区政府驻大营镇陕州大道18号。<br/>
	</p>
                    </div>

              </div>
            </div>

        </div>

		<!--content结束--> 

</div>

<!--footer开始-->

<div class="footer"> 

	<p><a href="../index.html">首页</a> | <a href="historic.html">历史</a> | <a href="beautiful.html">风景</a> | <a href="tourism.html">旅游</a> | <a href="delicacy.html">美食</a> | <a href="new.html">动态</a> | <a href="leave.html">旅游</a>| <a href="connection.html">联系我们</a></p>

<p> </p>
  
</div>

<!--footer 结束--> 


</body>

</html>

