<!DOCTYPE HTML>

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>天鹅之城-三门峡</title>

<meta content="天鹅之城-三门峡" name="keywords" />

<meta content="天鹅之城-三门峡" name="description" />

<link href="../css/base.css" rel="stylesheet" type="text/css">

<link href="../css/pagename.css" rel="stylesheet" type="text/css">

</head>

<body>


<!--header-->

<div class="header"> 

	<div class="w1000">

    	<p>你好，欢迎光临天鹅之城三门峡！</p>

        <div class="contact"><a href="../index.html">设为首页</a> <a href="../index.html">加入收藏</a></div>

	</div>

</div>

<div class="w1000">

	<div class="header_bottom">

			<a href="../index.html"><img src="../image/logo.jpg" width="294" height="49" alt="" title="天鹅之城-三门峡"></a>

       		<ul>

            	<li><a href="../index.html">网站首页</a></li>       

                <li><a href="historic.html">历史</a></li>     

                <li><a href="beautiful.html">风景</a></li>        

                <li><a href="tourism.html">旅游</a></li>      

                <li><a href="delicacy.html">美食</a></li>      

                <li><a href="new.html">动态</a></li>      

                <li><a href="leave.html">留言</a></li><li><a href="connection.html">联系我们</a></li>

     		</ul>  

    </div>       

</div>
<!--header结束--> 



<div class="container"> 		

		<!--banner开始-->

		<div class="banner_erji">

        	<img src="../image/banner_4.jpg" width="1000" height="187" alt="" title="">

        </div>

		<!--banner结束--> 

		<!--content开始-->

		<div class="content clearfix">

        	<div class="leftbar">

            	<div class="leftnav">

                	<h1>话说</h1>

                	<ul class="ul_left">
        <li><h3><a href="introduce.html">简介</a></h3></li>
		<li><h3><a href="Culture.html">文化</a></h3></li>
        <li><h3><a href="historic.html">历史</a></h3></li>

         	</ul>
                </div>

                <div class="left_lx">

                	<h1>联系方式</h1>

                    <p>地址：XXX</p>

                      <p>联系人：XXX</p>

                      <p>电话：0771-xxxxxxx</p>

                      <p>QQ：xxxxxxxxxx</p>

                      <p>网址：www.xxxx.com</p>

                      <p>邮编：270000</p>

                </div>

            </div>

        	<div class="rightbar">

            	<div class="bread"><a href="../index.html">首页</a> > 简介</div>
				
            	<div class="con_news">

                	<p class="p_tit2">

                    	<span>简介</span>

                  </p>

                	<div class="con">

	<p>

		&nbsp;&nbsp;&nbsp;&nbsp;相传大禹治水时，凿龙门，开砥柱，在黄河中游这一段形成了“人门”、“鬼门”、“神门”三道峡谷，三门峡即由此得名。<br />

&nbsp;&nbsp;&nbsp;&nbsp;三门峡位于河南西部，东与千年帝都洛阳市为邻，南依伏牛山与南阳市相接，西望古城西安，北隔黄河与三晋呼应，是历史上三省交界的经济、文化中心。华夏的古老文明、祖国的今朝奇迹、南疆的湖光山色、北国的秀丽冰川，在这里得到了巧妙的浓缩和展现，发展旅游业有着得天独厚的条件和十分广阔的前景。厚重的历史文化为这里留下了许多驰名中外的名胜古迹和人文景观。<br />

&nbsp;&nbsp;&nbsp;&nbsp;近年来，加快城市基础设施那么和绿化亮化美化建设，城市面貌日新月异。成为华夏文明发祥地之一 、天鹅之城、2012年中国特色魅力城市200强、我国六大苹果出口基地之一、国家园林城市、国家卫生城市、国家森林城市、国家优秀旅游城市、2014中国最佳生态旅游城市、 2015年中国大陆城市"氧吧"50强。<br />

&nbsp;&nbsp;&nbsp;&nbsp;三门峡市域总面积10496平方公里，地貌以山地、丘陵和黄土塬为主，其中山地约占54.8%，丘陵占36%，平原占9.2%，可谓“五山四陵一分川”。三门峡市区座落在黄河南岸阶地上，三面临水，形似半岛，素有“四面环山三面水，半城烟村半城田”之称。三门峡地处中纬度内陆区，大部分地区属暖温带大陆性季风气候。由于地貌特征复杂，形成了具有暖温带、温带和寒温带的多元气候。<br />

&nbsp;&nbsp;&nbsp;&nbsp;三门峡市矿产资源极为丰富。已发现矿藏66种，发现大型矿床12处、中型矿床31处。其中探明储量的50种，已上国家储量平衡表的33种，潜在经济价值达2700亿元其中，黄（黄金）、白（铝）、黑（煤炭）是三大优势矿产资源。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;三门峡境内有全国重点文物保护单位6处，省级文物保护单位33处，馆藏文物7万余件，灵宝西坡遗址被列为全国首选的中华文明探源工程六大遗址之一，仰韶村文化遗址、庙底沟文化遗址、虢国上阳城与虢国墓地三大发掘入选中国20世纪百项考古大发现。2处入选国家级非物质文化遗产名录，20处入选省级非物质文化遗产名录。<br/>

	</p>

                    </div>

              </div>

            </div>

        </div>

		<!--content结束--> 

</div>

<!--footer开始-->

<div class="footer"> 

	<p><a href="../index.html">首页</a> | <a href="historic.html">历史</a> | <a href="beautiful.html">风景</a> | <a href="tourism.html">旅游</a> | <a href="delicacy.html">美食</a> | <a href="new.html">动态</a> | <a href="leave.html">旅游</a>| <a href="connection.html">联系我们</a></p>

</div>

<!--footer 结束--> 


</body>

</html>

