<!DOCTYPE HTML>

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>天鹅之城-三门峡</title>

<meta content="天鹅之城-三门峡" name="keywords" />

<meta content="天鹅之城-三门峡" name="description" />

<link href="../css/base.css" rel="stylesheet" type="text/css">

<link href="../css/pagename.css" rel="stylesheet" type="text/css">

</head>

<body>
<!--header-->

<div class="header"> 

	<div class="w1000">

    	<p>你好，欢迎光临天鹅之城三门峡！</p>

        <div class="contact"><a href="../index.html">设为首页</a> <a href="../index.html">加入收藏</a></div>

	</div>

</div>

<div class="w1000">

	<div class="header_bottom">

			<a href="../index.html"><img src="../image/logo.jpg" width="294" height="49" alt="" title="天鹅之城-三门峡"></a>

       		<ul>

            	<li><a href="../index.html">网站首页</a></li>       

                <li><a href="historic.html">历史</a></li>     

                <li><a href="beautiful.html">风景</a></li>        

                <li><a href="tourism.html">旅游</a></li>      

                <li><a href="delicacy.html">美食</a></li>      

                <li><a href="new.html">动态</a></li>      

                <li><a href="leave.html">留言</a></li>
				<li><a href="connection.html">联系我们</a></li>

     		</ul>  

    </div>       

</div>
<!--header结束--> 

<div class="container"> 		

		<!--banner-->

		<div class="banner_erji">

        	<img src="../image/banner_2.jpg" width="1000" height="187" alt="" title="">        </div>

		<!--banner end--> 

		<!--content-->

		<div class="content clearfix">

        	<div class="leftbar">

            	<div class="leftnav">

                	<h1>必玩景点</h1>

                	<ul class="ul_left">

            <li><h3><a href="tourism.html">线路介绍</a></h3></li>     
     
         	</ul>

                 
                </div>

                <div class="left_lx">

                	<h1>联系方式</h1>

                    <p>地址：XXXX</p>

                      <p>联系人：XXX</p>

                      <p>电话：0771-xxxxxxx</p>

                      <p>QQ：XXXXX</p>

                      <p>网址：www.dsfs.cpm</p>

                      <p>邮编：27000</p>

                </div>

            </div>

        	<div class="rightbar">

            	<div class="bread"><a href="../index.html">首页</a> > 旅游路线</div>

            	<ul class="ul_zj clearfix">
           	<li><a href="#"><img src="../image/daba.jpeg" width="220" height="140"><span>黄河大坝</span></a></li>
     		<li><a href="#"><img src="../image/laojun.jpg" width="220" height="140"><span>老君山</span></a></li>
			<li><a href="#"><img src="../image/di.jpg" width="220" height="140"><span>地坑院</span></a> </li>
     		<li><a href="#"><img src="../image/甘山森林.jpg" width="220" height="140"><span>甘山森林公园</span></a>  </li>
       		<li><a href="#"><img src="../image/han.jpg" width="220" height="140"><span>函谷关</span></a>    </li>
 			<li><a href="#"><img src="../image/双龙湾.jpg" width="220" height="140"><span>双龙湾</span></a>    </li>
           	<li><a href="#"><img src="../image/天鹅.jpg" width="220" height="140"><span>天鹅湖湿地公园</span></a>  </li>
			<li><a href="#"><img src="../image/体育.jpg" width="220" height="140"><span>体育馆夜景</span></a>	</li>

                </ul>

                <div class="paging"></div>

            </div>

        </div>

		<!--content end--> 

</div>

<!--footer开始-->

<div class="footer"> 

	<p><a href="../index.html">首页</a> | <a href="historic.html">历史</a> | <a href="beautiful.html">风景</a> | <a href="tourism.html">旅游</a> | <a href="delicacy.html">美食</a> | <a href="new.html">动态</a> | <a href="leave.html">旅游</a>| <a href="connection.html">联系我们</a></p>

</div>

<!--footer 结束--> 
</body>

</html>
